name: Trigger pipeline

on:
  workflow_dispatch:  # Allow manual triggering

jobs:
  send_email:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas gspread requests json base64 time random os

      - name: Run jenkins_e2e_pipeline.py script
        run: |
          python jenkins_e2e_pipeline.py
        env:
          AUTH_JSON: ${{ secrets.AUTH_JSON }}
